.wrapper {
	display: flex;
	flex-wrap: wrap;
	Justify-content: center;
    width: 1vw;
}

.header {
	width: 80%;
}

.logo {
	width: 100px;
	height: 100px;
    align-self: flex-start;
}

.nav {
	width: 500px;
	height: 40px;
    align-self: flex-end;
}

.content {
	width: 1vw;
	height: 1vh;
	background-color: grey;
}

.footer {
	width: 1vw;
	height: 100px;
}
